
[submodule "blog/themes/blackburn"]
	path = blog/themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git

[submodule "blog2/themes/ananke"]
	path = blog2/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
