[submodule "blog/themes/simpleness"]
	path = blog/themes/simpleness
	url = https://github.com/RainerChiang/simpleness.git
[submodule "programming/themes/hulga"]
	path = programming/themes/hulga
	url = https://github.com/wlh320/hugo-theme-hulga.git
[submodule "devsworld/themes/jeffprod"]
	path = devsworld/themes/jeffprod
	url = https://github.com/Tazeg/hugo-blog-jeffprod.git
